body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #bdc3c7, #2c3e50);
}

.controls {
  /* visibility: hidden; */
  opacity: 0.5;
  width: 680px;
  height: 50px;
  border-radius: 0 0 20px 20px;
  background-color: black;
  transition: 1s all;
  display: flex;
  position: relative;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  bottom: 5px;
}

.control {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  cursor: pointer;
}

.control:hover i {
  color: aqua;
}

video {
  width: 700px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.timer {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.timerBar {
  background-color: rgba(255, 255, 255, 0.2);
  height: 20px;
  width: 450px;
  margin-right: 8px;
  cursor: pointer;
}

.timerStamp {
  height: 20px;
  width: 450px;
  background-color: rgb(241, 35, 35);
  position: absolute;
  right: 156px;
}
